body {
  background-image: url("../img/to.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

section .task-input {
  width: 35rem;
  height: 4rem;
  border-radius: 1rem;
}
